.Panel {
	border-radius: 3px;
	border: 2px solid gray;
	box-sizing: border-box;
}

.Panel__header {
	padding: 10px;
	background: lightgray;
	font-weight: bold;
	text-align: center;
}

.Panel__body {
	padding: 10px;
	clear: both;
	box-sizing: border-box;
}

.Panel__body:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}